@import "tailwindcss";

body {
  font-family: "Poppins", sans-serif;
}
html {
  scroll-behavior: smooth;
}

@keyframes fillProgress {
  0% {
    width: 0%;
  }
  33% {
    width: 33.333%;
  }
  66% {
    width: 66.67%;
  }
  100% {
    width: 100%;
  }
}

@keyframes lightEffect {
  0%,
  20%,
  40%,
  60%,
  80%,
  100% {
    background: repeating-linear-gradient(45deg, #0031f2 0 30px, #006dfe 0 40px)
      right/200% 100%;
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    background: repeating-linear-gradient(
        45deg,
        #0031f2 0 30px,
        #006dfe 0 40px,
        rgba(255, 255, 255, 0.3) 0 40px
      )
      right/200% 100%;
  }
}

.animate-[fillProgress_6s_ease-in-out_infinite] {
  animation: fillProgress 6s ease-in-out infinite;
}

.animate-[lightEffect_1s_infinite_linear] {
  animation: lightEffect 1s infinite linear;
}
